.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}


.mainContainer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width:100%;
  height:auto;
  min-height:100vh;

  z-index: 6;
  position: relative;


}

.mainWrapper {
  padding-left:2vw;
  padding-right:2vw;
  width:100%;
  max-width:1800px;
  margin: 0 auto;
  padding-left: 2vw;
  padding-right: 2vw;
  z-index: 6;
  position: absolute;
  width: 100%;
  min-height:100%;

}


@media (max-width: 1280px) {
  .mainWrapper {
    padding-left:30px;
    padding-right:30px;
  }
}

.mainTitle {
  font-size:180px;
  -webkit-text-stroke-color: rgba(227, 174, 227, .8);
  text-shadow: 0 34px 35px rgba(48, 13, 37, .09), 0 77px 46px rgba(48, 13, 37, .05), 0 130px 55px rgba(0, 0, 0, .01), 0 214px 60px rgba(48, 13, 37, 0), 0 4px 4px rgba(0, 0, 0, .25);
  margin:0px;
  line-height:140px;
  
}

.mainCenter {
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainNormal {
  padding-top:140px;
  padding-bottom:70px;
}

.mainWrapper:has(.mainCenter) {
  height:100%;
}

.subTitle {
  font-size:30px;  
  margin:0px;
}

.h2heading {
  font-size: 85px;
  margin-left:-8px;
  line-height:1;
  margin-bottom:30px;
}

@media (max-width: 1280px) {

  .h2heading {
    font-size: 65px;
  }

}


@media (max-width: 768px) {

  .h2heading {
    font-size: 45px;
    margin-left:0px;
  }

}

.subSubTitle {
  font-size:22px;  
  margin:0px;
}

@media (max-width: 768px) {
  .mainTitle {
    font-size:80px;
    line-height:65px;
  }
  .subTitle {
    font-size:24px;
  }

  .subSubTitle {
    font-size:20px;  
  }
}